
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Quản lý Môn thể thao</a>
    <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a>
    <a class="nav-item nav-link" (click)="logout()">Đăng xuất</a>
  </div>
</nav>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- credits -->
<div class="text-center mt-4">
  <p>
    <a href="{{swaggerUI}}" target="_top">Thể thao Việt Nam - Danh sách API</a>
  </p>
  <!--<p>
    <a href="https://jasonwatmore.com" target="_top">JasonWatmore.com</a>
  </p>-->
</div>
